#c1header{
    Width: 100%;
    height: 100px;
    background-color: gray
}
#SecB{
    background-color: #ff0000;
    Width: 50%;
    height:200px;
    float: left;
}
#SecC{
    background-color: #0400ff;
    Width: 50%;
    height:200px;
    float: right;
}
#SecD{
    background-color: #ff0000;
    Width: 25%;
    height:200px;
    float: right;
}
#SecE{
    background-color: #0400ff;
    Width: 75%;
    height:200px;
    float: left;
}
#SecF{
    background-color: #ff0000;
    Width: 66.66%;
    height:200px;
    float: left;
}
#SecG{
    background-color: #0400ff;
    Width: 33.33%;
    height:200px;
    float: right;
    
}
#c2header{
    float: left;
    Width: 100%;
    height: 100px;
    background-color: black
    
    
}
